{% extends 'base.html' %}

{% block content %}
    <div class="container">
        {% if user.is_authenticated %}
        <a class="btn btn-primary" href="{% url 'ask-question' %}">Ask a Question</a>
        {% else%}
            <p>Need to ask a question? Please <a href="{% url 'login' %}">Login</a></p>
        {% endif %}
    </div>
    <br>
    <div>
    {% for question in questions %}
    <div class="container card mb-3">
    <div class="card-body">
        <h5><a href="{% url 'question-detail' question.id %}">{{ question.question }}</a></h5>
        <p class="mb-0 text-muted">Asked by {{ question.user.first_name }} on {{ question.created_on|date:"F j, Y, g:i a" }}</p>
    </div>
    </div>
    {% empty %}
    <div class="container">
    <p>No questions have been posted yet.</p>
    </div>
    {% endfor %}
    </div>
{% endblock content %}
